@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #171717;
  font-family: "Nimbus Sans L";
}

/* Regular */
@font-face {
  font-family: "Nimbus Sans L";
  src: url("/fonts/NimbusSanL-Reg-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Nimbus Sans L";
  src: url("/fonts/NimbusSanL-RegIta-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Nimbus Sans L";
  src: url("/fonts/NimbusSanL-Bol-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Nimbus Sans L";
  src: url("/fonts/NimbusSanL-BolIta-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

.moving-grid {
  position: absolute;
  inset: 0;
  z-index: -10;
  background-color: white;
  background-image:
    linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
  animation: gridMove 4s linear infinite;
}

@keyframes gridMove {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 48px 48px;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  cursor: none;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid #8b8b8b;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.cursor-dot {
  background-color: #8b8b8b;
  width: 3px;
  height: 3px;
  mix-blend-mode: difference;
}

.cursor-hover {
  height: 100px;
  width: 100px;
}
